# Copyright (c) 2014-2016 Cisco and/or its affiliates.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Replace the < > with your information

HOSTS:
    <IOS XR node fully qualified domain name>:
        roles:
            - agent
        platform: cisco_ios_xr-6-x86_64
        ip: <ip address>
        ssh:
          auth_methods: ["password"]
          # SSHd for third-party network namespace (TPNNS) uses port 57722
          port: 57722
          user: <configured admin username>
          password: <configured admin password>

    <Nexus node fully qualified domain name>:
        roles:
            - agent
        platform: cisco_nexus-7-x86_64
        ip: <ip address>
        vrf: <vrf used for beaker workstation and puppet master ip reachability>
        ssh:
          auth_methods: ["password"]
          user: <configured bash-shell username>
          password: <configured bash-shell password>
        #Uncomment the following line to install into the guestshell
        #target: guestshell

    #<agent3>:
    #  <...>

    #<agent4>:
    #  <...>

    <master fully qualified domain name>:
        # Note: Only one master configuration block allowed
        roles:
            - master
        platform: <server os-version-architecture>
        ip: <ip address>
        ssh:
          auth_methods: ["password"]
          user: root
          password: <configured root password>

CONFIG:
  # cisco_node_utils gem configuration (Optional) (Uncomment if needed)
    # cisco_node_utils: # if present, install this gem
    #   gem:  <path to gem file, if absent, install from rubygems.org>
    #   port: <gRPC server port, defaults to 57400>
    #   user: <admin username - defaults to host[ssh][user]>
    #   password: <admin password - defaults to host[ssh][password]>

  # Puppet Configuration Template: (Optional) (Uncomment if needed)
    # puppet_config_template: <path to puppet.conf template file on beaker workstation>

  # Network reachability Information: (Optional) (Uncomment if needed)
    # http_proxy: <http proxy url>
    # https_proxy: <http proxy url>
    # resolver: <path to resolver.conf file on beaker workstation>    


# Example where < > markers replaced with sample data
#
#HOSTS:
#    nx-agent.domain.com:
#        roles:
#            - agent
#        platform: cisco_nexus-7-x86_64
#        ip: 10.0.0.100
#        vrf: management
#        #target: guestshell
#        ssh:
#          auth_methods: ["password"]
#          user: devops
#          password: devopspassword
#
#    xr-agent.domain.com:
#        roles:
#            - agent
#        platform: cisco_ios_xr-6-x86_64
#        ip: 10.0.0.101
#        ssh:
#          auth_methods: ["password"]
#          port: 57722
#          user: admin
#          password: adminpassword
#
#    puppetmaster1.domain.com:
#        roles:
#            - master
#        platform: ubuntu-1404-x86_64
#        ip: 10.0.0.2
#        ssh:
#          auth_methods: ["password"]
#          user: root
#          password: rootpassword
#
#CONFIG:
#  # cisco_node_utils gem configuration:
#    cisco_node_utils:
#      gem: /home/user/cisco_node_utils-1.2.0.dev.gem
#      username: admin
#      password: admin
#      port: 57400
#
#  # Puppet Configuration Template:
#    puppet_config_template: /path_on_beaker_workstation/puppet.conf
#
#  # Network reachability Information:
#    http_proxy: http://proxy.yourdomain.com:8000
#    https_proxy: https://proxy.yourdomain.com:8000
#    resolver: /path_on_beaker_workstation/resolver.conf
#
